{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% block result_list %}
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><b>Return Of Investment</b></td>
			<td><b>:&emsp;{{roi}}</b></td>
		</tr>
		<tr>
			<td><b>Net Present Value</b></td>
			<td><b>:&emsp;{{npv}}</b></td>
		</tr>
		<tr>
			<td><b>Payback Period</b></td>
			<td><b>:&emsp;{{pp}}</b></td>
		</tr>
		<tr>
			<td><b>Benfit/Cost Ratio</b></td>
			<td><b>:&emsp;{{bcr}}</b></td>
		</tr>
	</tbody>
</table>
<br/>
<style>
	.progress{
		width:100%;
		background-color:#c6e2ff;
	}
	.barcba{
		width:{{persen}}%;
		height:28px;
		background-color:#6895bb;
	}
</style>
<div class="progress">
	<div class="barcba"><center>45%</center></div>
</div>
<!--<style>
	progress{
		width:100%;
		height:20px;
	}
</style>
<progress value="30" max="100" content="30%"></progress>-->
<br/>
	{% if cl.result_count %}
		{% if action_form and actions_on_top and cl.full_result_count %}
			{% admin_actions %}{% endif %}
			{% result_list_with_context cl %}
		{% if action_form and actions_on_bottom and cl.full_result_count %}
			{% admin_actions %}{% endif %}
	{% else %}
		{% suit_bc_value 1.5 'pop' 1.6 '_popup' as POPUP_VAR %}
		<div class="alert alert-block alert-info">
			{% if cl.full_result_count %}
				<h4>{% trans 'Nothing found' %}!</h4>
				<br>
				<a href="?{% if cl.is_popup %}{{ POPUP_VAR }}=1{% endif %}">{% trans 'Reset search and filters' %}</a>
			{% else %}
				{% blocktrans with cl.opts.verbose_name_plural|capfirst as name_plural %}{{ name_plural }} are not created yet{% endblocktrans %}.
				{% if has_add_permission %}<a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?{{ POPUP_VAR }}=1{% endif %}">
					{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>{% endif %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
